
<!-- # File: base.html
# Author: Pavana Manoj (pavana@bu.edu), 03/01/2025
# Description: The code provides the basic required display of all html pages for this app
-->

{% load static %}
<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini Facebook</h1>
            <nav>
                <!-- adding link to page showing all profiles for nav-->
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li> <!-- New Link for create profile page -->
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>
