<!-- # File: show_profile.html
# Author: Pavana Manoj (pavana@bu.edu), 03/01/2025
# Description: The code provides the display for the page showing individual profiles on Minif FB
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<!-- show user's full name as heading -->
<h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
<main class="grid-container">
    <article class="featured">
        <!-- show user's profile pic if they have -->
        {% if profile.profile_image_url %}
        <img src="{{ profile.profile_image_url }}" alt="Profile Image">
        {% endif %}
        <div>
            <!-- show user's info -->
            <strong>City: {{ profile.city }}</strong>
            <p>Email: {{ profile.email }}</p>
        </div>
    </article>

        <!-- show status messages -->
        <div>
            <h2>Status Messages</h2>
            {% for status in profile.get_status_messages %}
            <article>
                <p><strong>{{ status.timestamp }}</strong></p>
                <p>{{ status.message }}</p>
            </article>
            {% empty %}
            <p>No status messages yet.</p>
            {% endfor %}
        </div>
    
        <div>
            <h3>
                <a href="{% url 'create_status' profile.pk %}">Create Status</a>
            </h3>
        </div>
        
</main>

{% endblock %}
